# Auto saves
auto-save-list
backup

# Game scores
games/*-scores

# Shell
eshell/
transient/

# Desktop sessions, maybe for Wayland??
session.*

# Buffer grouping in "projects" metadata file
projectile-bookmarks.eld

# Image thumbnails
image-dired/
thumbs/

# Package metadata
elpa/archives/
