# Auto saves
auto-save-list
backup

# Game scores
games/*-scores

# Shell history
eshell/history

# Desktop sessions, maybe for Wayland??
session.*

# Buffer grouping in "projects" metadata file
projectile-bookmarks.eld

# Buffer bookmarks
bookmarks

# Packages
elpa/
